<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PAC APP - <%= title %>
  </title>

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('../partials/sidebar'); %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <%- include('../partials/topbar'); %>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <div class="card o-hidden border-0 shadow-lg ">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-comment-alt"></i> Question &
                    Answer Management - <%= title %>
                  </h6>
                </div>

                <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                    <!--<div class="col-lg-2 d-none d-lg-block"></div>-->
                    <div class="col-lg-12">
                      <div class="p-4">
                        <form class="user" action="/library/answer/Add" method="POST">

                          <h6 class="m-0 font-weight-bold text-primary mb-3"><i class="fas fa-file-signature fa-fw"></i>
                            <%= title %>
                          </h6>
                          <div class="form-group row">
                            <div class="col-sm-4">
                              <label for="libraryAnswerDate" class="form-label">Date
                                :</label>
                              <input type="date" class="form-control" name="libraryAnswerDate"
                                value="<%= dateDefaul %>">
                            </div>
                            <div class="col-sm-4">
                              <label for="libraryAnswerDocQTN" class="form-label">Doc No.
                                :</label>
                              <input type="text" class="form-control" name="libraryAnswerDocQTN"
                                id="libraryAnswerDocQTN">
                            </div>
                            <div class="col-sm-4">
                              <label for="libraryAnswerQuestioner" class="form-label">Questioner :</label>
                              <select name="libraryAnswerQuestioner" class="form-control form-select"
                                aria-label="Default select example">
                                <option value="">--- Select Name ---</option>
                                <% employee.forEach(employee=> { %>
                                  <option value="<%= employee.nameTH %>">
                                    <%= employee.nameTH %>
                                  </option>
                                  <% }) %>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="libraryAnswerTitle" class="form-label">Question ?
                              :</label>
                            <textarea type="textarea" rows="8" class="form-control"
                              name="libraryAnswerTitle"></textarea>
                          </div>
                          <div class="form-group row">
                            <div class="col-sm-4">
                              <label for="libraryAnswerBrands" class="form-label">Brands
                                :<br></label>
                              <% let x=1 %>
                                <% libraryBrands.forEach(libraryBrands=> { %>

                                  <br>
                                  <input type="checkbox" class="checkbox" id="vehicle<%= libraryBrands.code %>"
                                    name="vehicle<%= x %>" value="<%= libraryBrands.nameEN %>">
                                  <label for="vehicle<%= x %>">
                                    <%= libraryBrands.nameEN %>
                                  </label>
                                  <% x ++ %>
                                    <% }) %>
                            </div>
                            <div class="col-sm-4">
                              <label for="libraryAnswerProductType" class="form-label">Product Type :<br></label>
                              <% libraryProductType.forEach(libraryProductType=> { %>
                                <br>
                                <input type="checkbox" class="checkbox" id="vehicle<%= libraryProductType.code %>"
                                  name="vehicle<%= libraryProductType.code %>" value="<%= libraryProductType.nameEN %>">
                                <label for="vehicle<%= libraryProductType.code %>">
                                  <%= libraryProductType.nameEN %>
                                </label>
                                <% }) %>
                            </div>
                            <div class="col-sm-4">
                              <label for="libraryAnswerIndustryType" class="form-label">Industry Type :<br></label>
                              <% libraryIndustryType.forEach(libraryIndustryType=> { %>
                                <br>
                                <input type="checkbox" class="checkbox" id="vehicle<%= libraryIndustryType.code %>"
                                  name="vehicle<%= libraryIndustryType.code %>"
                                  value="<%= libraryIndustryType.nameEN %>">
                                <label for="vehicle<%= libraryIndustryType.code %>">
                                  <%= libraryIndustryType.nameEN %>
                                </label>
                                <% }) %>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="tagValueA" class="form-label">Tag :</label>
                            <textarea type="textarea" rows="2" class="form-control tagValueA" name="tagValueA"
                              readonly></textarea>
                          </div>
                          <hr class="sidebar-divider">
                          <h6 class="m-0 font-weight-bold text-primary mb-3"><i class="fas fa-user-edit fa-fw"></i>
                            Answerer</h6>
                          <div class="form-group row">

                            <div class="col-sm-6">
                              <label for="libraryAnswerAnswerer" class="form-label">Answerer :</label>
                              <input type="text" class="form-control" name="libraryAnswerAnswerer"
                                value="<%= nameCreate %>" readonly>
                            </div>
                            <div class="col-sm-6">
                              <label for="libraryAnswerAnswerDate" class="form-label">Answer Date :</label>
                              <input type="datetime" class="form-control" name="libraryAnswerAnswerDate"
                                value="<%= timestamp %>" readonly>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="libraryAnswerAnswer" class="form-label">Answer
                              :</label>
                            <textarea type="textarea" rows="13" class="form-control"
                              name="libraryAnswerAnswer"></textarea>
                          </div>

                          <button type="submit" class="btn btn-success btn-block">
                            <i class="fas fa-save fa-fw"></i>
                            <span class="text">Save</span></button>

                        </form>
                        <hr>
                        <div class="text-center">
                          <a class="small" href="/library/answer">Back to ...</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--<div class="col-lg-2 d-none d-lg-block"></div>-->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%- include('../partials/footer'); %>
          <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/datatables-demo.js"></script>
  <script>
    let docQtnNo = "<%= maxNo.maxNo %>";
    if (docQtnNo.length = 1) { docQtnNo = "00" + docQtnNo; }
    else if (docQtnNo.length = 2) { docQtnNo = "0" + docQtnNo; }
    document.getElementById('libraryAnswerDocQTN').value = "QTN" + new Date().toLocaleString("en-US", { year: "2-digit" }) + "-" + docQtnNo

    const value = document.querySelector('.tagValueA');
    let listArray = [];

    const checkboxes = document.querySelectorAll('.checkbox');

    checkboxes.forEach((checkbox) => {
      checkbox.addEventListener('click', function () {
        if (this.checked === true) {
          listArray.push(this.value);
          value.textContent = listArray.join(';')
        } else {
          listArray = listArray.filter((e) => e !== this.value)
          value.textContent = listArray.join(';')
        }
      })
    })

  </script>
</body>

</html>