<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PAC APP - <%= title %>
  </title>

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('../partials/sidebar'); %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <%- include('../partials/topbar'); %>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

              <!-- DataTales Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex">
                  <h6 class="m-0 font-weight-bold text-primary">Library PAC - <%= title %>
                  </h6>
                  <!--<a href="/tablesAdd" class="btn btn-info btn-circle btn-sm ml-auto"><i class="fas fa-plus"></i></a>-->
                  <a href="/library/answer/Add" class="btn btn-primary btn-icon-split ml-auto btn-sm">
                    <span class="icon text-white-50">
                      <i class="fas fa-plus-circle"></i>
                    </span>
                    <span class="text">Question & Answer Create</span>
                  </a>

                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered align-middle" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th class="align-middle">Date/DocNo.</th>
                          <th class="align-middle">Question</th>
                          <th class="align-middle">Answer</th>
                          <th class="align-middle">Tag</th>
                          <th class="align-middle text-center">Action</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th class="align-middle">Date/DocNo.</th>
                          <th class="align-middle">Question</th>
                          <th class="align-middle">Answer</th>
                          <th class="align-middle">Tag</th>
                          <th class="align-middle text-center">Action</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% libraryAnswer.forEach(libraryAnswer=> { %>
                          <tr>
                            <td>
                              <%= libraryAnswer.dateF %> ; <%= libraryAnswer.docQTN %>
                            </td>
                            <td>
                              <%= libraryAnswer.title %>
                            </td>
                            <td>
                              <%= libraryAnswer.content %>
                            </td>
                            <td>
                              <%= libraryAnswer.tagContent %>
                            </td>
                            <td class="align-middle text-center">
                              <a href="/library/answer/View/<%= libraryAnswer.id %>"
                                class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-eye"></i></a>
                              <% if(libraryAnswer.validator===null ){ %>
                                <a href="/library/answer/Edit/<%= libraryAnswer.id %>"
                                  class="btn btn-warning btn-circle btn-sm">
                                  <i class="fas fa-pen"></i></a>
                                <a href="/library/answer/Del/<%= libraryAnswer.id %>"
                                  class="btn btn-danger btn-circle btn-sm" onclick="return confirm('Are you sure ?');">
                                  <i class="fas fa-trash-alt"></i></a>
                                <% } %>
                            </td>
                          </tr>
                          <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%- include('../partials/footer'); %>
          <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>