<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PAC APP - <%= title %>
  </title>

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('../partials/sidebar'); %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <%- include('../partials/topbar'); %>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <div class="card o-hidden border-0 shadow-lg ">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-user fa-fw"></i> Employee Management -
                    <%= title %>
                  </h6>
                </div>

                <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                    <!--<div class="col-lg-2 d-none d-lg-block"></div>-->
                    <div class="col-lg-12">
                      <div class="p-4">
                        <form class="user" action="/tableTest/SubAdd/<%= employeeID %>" method="POST">
                          <h6 class="m-0 font-weight-bold text-primary mb-3"><i class="fas fa-graduation-cap fa-fw"></i>
                            Education information</h6>
                          <div class="form-group row">
                            <div class="col-sm-3">
                              <label for="educationLevel" class="form-label">Education Level</label>
                              <select name="educationLevel" class="form-control form-select"
                                aria-label="Default select example">
                                <option value="">--- Select Education Level ---</option>
                                <option value="ประกาศนียบัตรมัธยมศึกษาตอนปลาย (ม.6)">ประกาศนียบัตรมัธยมศึกษาตอนปลาย
                                  (ม.6)</option>
                                <option value="ประกาศนียบัตรวิชาชีพ (ปวช.)">ประกาศนียบัตรวิชาชีพ (ปวช.)</option>
                                <option value="ประกาศนียบัตรวิชาชีพชั้นสูง (ปวส.)">ประกาศนียบัตรวิชาชีพชั้นสูง (ปวส.)
                                </option>
                                <option value="ระดับปริญญาตรี (ป.ตรี)">ระดับปริญญาตรี (ป.ตรี)</option>
                                <option value="ระดับปริญญาโท (ป.โท)">ระดับปริญญาโท (ป.โท)</option>
                                <option value="ระดับปริญญาเอก ">ระดับปริญญาเอก </option>
                              </select>
                            </div>
                            <div class="col-sm-3">
                              <label for="university" class="form-label">University</label>
                              <input type="text" class="form-control" name="university">
                            </div>
                            <div class="col-sm-3">
                              <label for="registrationDate" class="form-label">Registration Date</label>
                              <input type="date" class="form-control" name="registrationDate">
                            </div>
                            <div class="col-sm-3">
                              <label for="graduationDate" class="form-label">Graduation Date</label>
                              <input type="date" class="form-control" name="graduationDate">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-sm-3">
                              <label for="studyPeriod" class="form-label">Study Period</label>
                              <select name="studyPeriod" class="form-control form-select"
                                aria-label="Default select example">
                                <option value="">--- Select Study Period ---</option>
                                <option value="ช่วงกลางวัน">ช่วงกลางวัน</option>
                                <option value="ช่วงกลางคืน">ช่วงกลางคืน</option>
                              </select>
                            </div>
                            <div class="col-sm-3">
                              <label for="major" class="form-label">Major</label>
                              <input type="text" class="form-control" name="major">
                            </div>
                            <div class="col-sm-3">
                              <label for="addressUniversity" class="form-label">Address University</label>
                              <input type="text" class="form-control" name="addressUniversity">
                            </div>
                            <div class="col-sm-3">
                              <label for="yearGraduation" class="form-label">Year Graduation</label>
                              <input type="text" class="form-control" name="yearGraduation"
                                placeholder="ระบุ ค.ศ. Ex. : '1998'">
                            </div>
                          </div>

                          <button type="submit" class="btn btn-success btn-block">
                            <i class="fas fa-save fa-fw"></i>
                            <span class="text">Save</span></button>

                        </form>
                        <hr>
                        <div class="text-center">
                          <a class="small" href="/tableTest/Sub/<%= employeeID %>">Back to ...</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--<div class="col-lg-2 d-none d-lg-block"></div>-->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%- include('../partials/footer'); %>
          <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>