<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PAC APP - <%= title %>
  </title>

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('../partials/sidebar'); %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <%- include('../partials/topbar'); %>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <div class="card o-hidden border-0 shadow-lg ">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-archive"></i> Goods Management -
                    <%= title %>
                  </h6>
                </div>

                <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                    <!--<div class="col-lg-2 d-none d-lg-block"></div>-->
                    <div class="col-lg-12">
                      <div class="p-4">
                        <form class="user" action="/stockCard/good/Add" method="POST">
                          <div class="form-group row">
                            <div class="col-sm-4">
                              <label for="stockCardGoodsNo" class="form-label">No</label>
                              <input type="text" class="form-control" name="stockCardGoodsNo">
                            </div>
                            <div class="col-sm-4">
                              <label for="stockCardGoodsCode" class="form-label">Code</label>
                              <input type="text" class="form-control" name="stockCardGoodsCode" required>
                            </div>
                            <div class="col-sm-4">
                              <label for="stockCardGoodsLength" class="form-label">Length (m.)</label>
                              <input type="number" class="form-control text-right" step="any"
                                name="stockCardGoodsLength">
                            </div>


                          </div>
                          <div class="form-group row">
                            <div class="col-sm-6">
                              <label for="stockCardGoodsModel" class="form-label">Model</label>
                              <input type="text" class="form-control" name="stockCardGoodsModel" required>
                            </div>
                            <div class="col-sm-6">
                              <label for="stockCardGoodsBrand" class="form-label">Brand</label>
                              <select name="stockCardGoodsBrand" class="form-control form-select"
                                aria-label="Default select example">
                                <option value="">--- Select Brands ---</option>
                                <% stockCardBrands.forEach(stockCardBrands=> { %>
                                  <option value="<%= stockCardBrands.id %>">
                                    <%= stockCardBrands.name %>
                                  </option>
                                  <% }) %>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="stockCardGoodsKeyword" class="form-label">Full Keyword</label>
                            <input type="text" class="form-control" name="stockCardGoodsKeyword" required>
                          </div>
                          <div class="form-group row">
                            <div class="col-sm-3">
                              <label for="stockCardGoodsPrice" class="form-label">Price</label>
                              <input type="number" class="form-control text-right" step="any"
                                name="stockCardGoodsPrice">
                            </div>
                            <div class="col-sm-3">
                              <label for="stockCardGoodsLimitPrice" class="form-label">Limit Price</label>
                              <input type="number" class="form-control text-right" step="any"
                                name="stockCardGoodsLimitPrice">
                            </div>
                            <div class="col-sm-3">
                              <label for="stockCardGoodsRemain" class="form-label">Remain</label>
                              <input type="text" class="form-control" name="stockCardGoodsRemain">
                            </div>
                            <div class="col-sm-3">
                              <label for="stockCardGoodsShelf" class="form-label">Shelf</label>
                              <input type="text" class="form-control" name="stockCardGoodsShelf">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-sm-6">
                              <label for="stockCardGoodsRemarkPurchase" class="form-label">Descrition for Sale</label>
                              <input type="text" class="form-control" name="stockCardGoodsRemarkPurchase">
                            </div>
                            <div class="col-sm-6">
                              <label for="stockCardGoodsRemarkSale" class="form-label">Remark for Sale</label>
                              <input type="text" class="form-control" name="stockCardGoodsRemarkSale">
                            </div>
                          </div>


                          <button type="submit" class="btn btn-success btn-block">
                            <i class="fas fa-save fa-fw"></i>
                            <span class="text">Save</span></button>

                        </form>
                        <hr>
                        <div class="text-center">
                          <a class="small" href="/stockCard/ReportBackEnd">Back to ...</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--<div class="col-lg-2 d-none d-lg-block"></div>-->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%- include('../partials/footer'); %>
          <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>