<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PAC APP - <%= title %>
  </title>

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <div id="wrapper">

      <%- include('../../partials/sidebarEcatalog'); %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

            <%- include('../../partials/topbarEcatalog'); %>

            <!-- Begin Page Content -->
            <div class="container-fluid">

              <!-- Page Heading -->
              <!-- <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>-->

              <!-- DataTales Example -->
              <div class="card shadow mb-4 mt-4">
                <div class="card-header py-3 d-flex">
                  <h6 class="m-0 font-weight-bold text-primary align-content-center">E-Catalog - <%= title %>
                  </h6>
                  <!--<a href="/tablesAdd" class="btn btn-info btn-circle btn-sm ml-auto"><i class="fas fa-plus"></i></a>-->
                  <a href="/pacEcatalog/brands/Add" class="btn btn-primary btn-icon-split ml-auto btn-sm">
                    <span class="icon text-white-50">
                      <i class="fas fa-plus-circle"></i>
                    </span>
                    <span class="text">Create</span>
                  </a>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Code</th>
                          <th>Name thai</th>
                          <th>Name English</th>
                          <th>Keyword</th>
                          <th>Image</th>
                          <th class="text-center">Action</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>No</th>
                          <th>Code</th>
                          <th>Name thai</th>
                          <th>Name English</th>
                          <th>Keyword</th>
                          <th>Image</th>
                          <th class="text-center">Action</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% brands.forEach(brand=> { %>
                          <tr>
                            <td>
                              <%= brand.no %>
                            </td>
                            <td>
                              <%= brand.code %>
                            </td>
                            <td>
                              <%= brand.nameTH %>
                            </td>
                            <td>
                              <%= brand.nameEN %>
                            </td>
                            <td>
                              <%= brand.keyword %>
                            </td>
                            <td class="align-middle text-center">
                              <% if (brand.img) { %>
                                <img class="img" src="/uploads/brands/<%= brand.img %>" width="100" />
                                <% } else { %>
                                  <img class="img" src="/img/NoPic.svg" width="100" />
                                  <% } %>
                            </td>
                            <td class="align-middle text-center">
                              <!-- <a href="/pacEcatalog/Brands/View/<%= brand.id %>" data-toggle="modal" data-target="#logoutModal" class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-eye"></i></a> -->
                              <button data-id="<%= brand.id %>" data-toggle="modal" data-target="#dataModal"
                                class="btn btn-info btn-circle btn-sm view-btn">
                                <i class="fas fa-eye"></i></button>
                              <a href="/pacEcatalog/brands/Edit/<%= brand.id %>"
                                class="btn btn-warning btn-circle btn-sm">
                                <i class="fas fa-pen"></i></a>
                              <a href="/pacEcatalog/brands/Del/<%= brand.id %>" class="btn btn-danger btn-circle btn-sm"
                                onclick="return confirm('Do you want to delete the data?');">
                                <i class="fas fa-trash-alt"></i></a>
                            </td>
                          </tr>
                          <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
            <!-- /.container-fluid -->

            <!-- Logout Modal-->
            <div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="brandsNameEN">Brand Name (EN)</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-6">
                          <strong>Brand No</strong> : <label id="brandsNo">Brand No</label><br>
                          <strong>Brand Code</strong> : <label id="brandsCode">Brand Code</label><br>
                        </div>
                        <div class="col-6">
                          <strong>Image</strong> : <img id="brandsImg" class="img" src="" width="100" /><br>
                          <strong>Date</strong> : <label id="brandsDate">Brand Date</label><br>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <strong>Brand Name (TH)</strong> : <label id="brandsNameTH">Brand Name (TH)</label><br>
                          <strong>Keyword</strong> : <label id="brandsKeyword">Keyword</label><br>
                          <strong>Short Keyword</strong> : <label id="brandsShortKeyword">Short Keyword</label><br>
                          <strong>Link Website</strong> : <label id="brandsLinkMain">Link Website</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <strong>Created at</strong> :<label id="brandsCreatedAt">Created At</label><br>
                        </div>
                        <div class="col-6">
                          <strong>Updated at</strong> : <label id="brandsUpdatedAt">Updated At</label><br>
                        </div>
                      </div>
                      <br>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                      <!-- <a class="btn btn-primary" href="/pacEcatalog/Brands">Go to PAC APP<sup>2</sup></a> -->
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <%- include('../../partials/footerEcatalog'); %>
              <!-- End of Footer -->
          </div>
          <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#">
          <i class="fas fa-angle-up"></i>
        </a>

        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="/js/demo/datatables-demo.js"></script>
        <script>
          $(document).on('click', '.view-btn', function () {
            let dataId = $(this).data('id');
            let jsonDataSet = `<%- brandJson %>`;
            let dataSet = JSON.parse(jsonDataSet);
            let data = dataSet.find(d => d.id === dataId);
            if (data) {
              document.getElementById('brandsNameEN').innerText = data.nameEN;
              document.getElementById('brandsNameTH').innerText = data.nameTH;
              document.getElementById('brandsCode').innerText = data.code;
              document.getElementById('brandsKeyword').innerText = data.keyword;  
              document.getElementById('brandsShortKeyword').innerText = data.shortKeyword;
              document.getElementById('brandsLinkMain').innerText = data.linkMain;
              document.getElementById('brandsNo').innerText = data.no;
              document.getElementById('brandsImg').src = data.img ? `/uploads/brands/${data.img}` : '/img/NoPic.svg';
              document.getElementById('brandsCreatedAt').innerText = data.createdAt ? formatForDatetimeLocal(data.createdAt) : '-';
              document.getElementById('brandsUpdatedAt').innerText = data.updatedAt ? formatForDatetimeLocal(data.updatedAt) : '-';
              document.getElementById('brandsDate').innerText = data.year ? formatForDate(data.year) : '-';
            }
          });

          function formatForDatetimeLocal(date) {
            let length = date.length;
            const yyyy = date.substring(0,4)
            const mm = date.substring(5,7) // Bulan dimulai dari 0
            const dd = date.substring(8,10);
            const hh = date.substring(11,13);
            const min = date.substring(14,16);
            return `${dd}/${mm}/${yyyy} , ${hh}:${min}`;
          }

          function formatForDate(date) {
            let length = date.length;
            const yyyy = date.substring(0,4)
            const mm = date.substring(5,7) // Bulan dimulai dari 0
            const dd = date.substring(8,10);
            return `${dd}/${mm}/${yyyy}`;
          }

        </script>
</body>

</html>