<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PAC APP - <%= title %>
  </title>

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('../partials/sidebar'); %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <%- include('../partials/topbar'); %>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <div class="card o-hidden border-0 shadow-lg ">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">
                    <i class="fas fa-calendar fa-fw"></i>Leave PAC - <%= title %> - (<%= resultsName.code %>) <%=
                          resultsName.nameTH %>
                  </h6>
                </div>
                <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                    <!--<div class="col-lg-2 d-none d-lg-block"></div>-->
                    <div class="col-lg-12">
                      <div class="p-5">
                        <form class="user" action="/leave/leaveDoc/Add/<%= resultsName.id %>" method="POST"
                          enctype="multipart/form-data">
                          <div class="form-group row">
                            <div class="col-sm-4">
                              <label for="leaveDocument" class="form-label">เอกสารใบลา</label>
                              <input type="text" class="form-control" name="leaveDocument" id="leaveDocument" readonly>
                            </div>
                            <div class="col-sm-4">
                              <label for="leaveDocTypeID" class="form-label">ประเภทการลา</label>
                              <select name="leaveDocTypeID" class="form-control form-select"
                                aria-label="Default select example" required>
                                <option value="">--- เลือกประเภทการลา ---</option>
                                <% resultsType.forEach(resultsType=> { %>
                                  <option value="<%= resultsType.id %>">
                                    <%= resultsType.nameTH %>
                                  </option>
                                  <% }) %>
                              </select>
                            </div>
                            <div class="col-sm-4">
                              <label for="leaveDocDays" class="form-label">จำนวนวันลา</label>
                              <input type="text" class="form-control text-right" name="leaveDocDays" id="leaveDocDays"
                                value="1" readonly>
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-sm-4">
                              <label for="leaveDocStartDate" class="form-label">วันที่เริ่มลา</label>
                              <input type="date" class="form-control" name="leaveDocStartDate" id="leaveDocStartDate"
                                value="<%= dateStamp %>" onchange="cal()" required>
                            </div>
                            <div class="col-sm-4">
                              <label for="leaveDocEndDate" class="form-label">วันที่สิ้นสุด</label>
                              <input type="date" class="form-control" name="leaveDocEndDate" id="leaveDocEndDate"
                                value="<%= dateStamp %>" onchange="cal()" required>
                            </div>
                            <div class="col-sm-4">
                              <label for="leaveDocHatfDate" class="form-label">ลาครึ่งวัน
                              </label><br>&nbsp;&nbsp;&nbsp;&nbsp;
                              <input type="radio" class="radio" id="leaveDocHatfDate" name="leaveDocHatfDate"
                                value="เช้า">
                              <label for="leaveDocHatfDate">ช่วงเช้า </label>&nbsp;&nbsp;&nbsp;&nbsp;
                              <input type="radio" class="radio" id="leaveDocHatfDate" name="leaveDocHatfDate"
                                value="บ่าย">
                              <label for="leaveDocHatfDate">ช่วงบ่าย
                              </label>&nbsp;&nbsp;&nbsp;&nbsp;
                              <input type="radio" class="radio" id="leaveDocHatfDate" name="leaveDocHatfDate"
                                value="ไม่มี" checked="true">
                              <label for="leaveDocHatfDate">ไม่ลาครึ่งวัน </label>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-sm-8">
                              <label for="leaveDocRemark" class="form-label">สาเหตุการลา</label>
                              <input type="text" class="form-control" name="leaveDocRemark" required>
                            </div>
                            <div class="col-sm-4">
                              <label for="leaveDocContact" class="form-label">รายละเอียดการติดต่อ</label>
                              <input type="text" class="form-control" name="leaveDocContact"
                                value="<%= resultsName.mobile %>" required>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="image" class="form-label">อัพโหลด</label>
                            <input type="file" name="image" class="form-control">
                          </div>
                          <br>
                          <button type="submit" class="btn btn-success btn-block">
                            <i class="fas fa-save fa-fw"></i>
                            <span class="text">Save</span></button>

                        </form>
                        <hr>
                        <div class="text-center">
                          <a class="small" href="/leave/leaveDoc/<%= resultsName.id %>">Back
                            to ...</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--<div class="col-lg-2 d-none d-lg-block"></div>-->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%- include('../partials/footer'); %>
          <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/datatables-demo.js"></script>
  <script>
    let docQtnNo = "<%= maxNo.maxNo %>";
    if (docQtnNo.length = 1) { docQtnNo = "00" + docQtnNo; }
    else if (docQtnNo.length = 2) { docQtnNo = "0" + docQtnNo; }
    document.getElementById('leaveDocument').value = "<%= resultsName.code %>-" + new Date().toLocaleString("en-US", { year: "2-digit" }) + "-" + docQtnNo;

    function GetDays() {
      var dropdt = new Date(document.getElementById("leaveDocEndDate").value);
      var pickdt = new Date(document.getElementById("leaveDocStartDate").value);
      return parseInt(((dropdt - pickdt) / (24 * 3600 * 1000)) + 1);
    }
    function cal() {
      if (document.getElementById("leaveDocEndDate")) {
        document.getElementById("leaveDocDays").value = GetDays();
      }
    }

    const checkradio = document.querySelectorAll('.radio');

    checkradio.forEach((radio) => {
      radio.addEventListener('change', function () {
        if (this.checked === true) {
          if (this.value === "ไม่มี") {
            document.getElementById("leaveDocDays").value = GetDays();
          }
          else {
            document.getElementById("leaveDocDays").value = GetDays() - 0.5;
          }
        }
      })
    })
  </script>

</body>

</html>